.detailContainer {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.campaignInfo {
  margin-bottom: 60px;
}

.marketInfo {
  margin-bottom: 20px;
}

.marketInfo p, .campaignInfo p {
  margin: 8px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.images {
  width: 30%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}


.map {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
}

.keyword {
  background-color: #eee;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px;
}