@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navLink {
  text-decoration: none;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navItem {
  margin: 0 10px;
}

.navLink, .navButton {
  background: none;
  border: none;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

.navButton:hover, .navLink:hover {
  text-decoration: underline;
}
