.registrationFormContainer {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  flex-basis: 30%;
  margin-right: 10px;
}

input, select, textarea, button {
  flex-basis: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  margin: 5px;
}

.findAddress {
  flex-basis: 70%;
  display: flex;
}

.findAddress input {
  margin-bottom: 5px;
}

.addressContainer input {
  margin-left: 5px;
}

.addressContainer {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: auto;
}

button:hover {
  background-color: #45a049;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleContainer {
  position: relative;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}